.venv/
.env
__pycache__/
*.log
*.pyc
dist/
build/
.eggs/
.data/
artifacts/
data/
# But allow master CSV files for review
!data/master/master_*.csv
# And allow pics for review
!data/pics/
logs/
models/
metrics/
.ipynb_checkpoints/
